.staff{
    background-color: var(--color-black);
    height: 100vh;
    
}

.staff section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.staff h2{
    width: 500px;
    letter-spacing: 2px;
    color: rgb(226, 226, 226);
    font-family: var(--font-pixel);
}